.root {
  background-color: #d9d9d9;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../../../../public/assets/Background.jpg");
}

.Boton-volver {
  float: right;
  padding: 5% 5% 0 0;
}

.boton-add {
  position: fixed;
  right: 10%;
  bottom: 10%;
}
