<div class="root">
  <div class="Boton-volver">
    <p-button label="Volver" severity="contrast" routerLink="/sensores" />
  </div>
  
  <div class="container-ventilador">
    @for (item of ventiladores; track $index) {
    <mat-card class="ventilador-card" style="margin-bottom: 10px">
      
      <div
        class="ventilador"
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <p>{{ item }}</p>
        <p-inputSwitch (onChange)="post()"></p-inputSwitch>
      </div>
    </mat-card>
    }
  </div>

  <div class="boton-add">
   
    <p-button label="Añadir sensor +" severity="info" (onClick)="openForm()" />
    
  </div>
  
</div>
