.root {
  background-color: #d9d9d9;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../../../../public/assets/Background.jpg");
}

.Boton-volver {
  float: right;
  padding: 5% 5% 0 0; 
}

.Buscador-ventilacion {
  padding: 5% 0 0 5%; 
}

.Menu-1 {
  display: flex;
  flex-direction: column;
  padding: 2% 2% 1% 2%;
  background-color: #f5f5f5; 
  border-radius: 10px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.397); 
  margin: 3% 5% 0 5%;
}

@media (max-width:800px){
  .Menu-1 {
    margin: 5% 0% 0 0%;
    border-radius: 0px;
  }
}

.container-back {
  padding: 10px;
  background-color: #ffffff; 
  border-radius: 8px; 
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
  margin-bottom: 20px; 
}

.container {
  display: flex;
  justify-content: space-between; 
  font-size: 16px;
  color: #333; 
}

.container p {
  margin: 0;
}

.ventilador-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px; 
  padding: 15px;
  margin-bottom: 10px; 
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
}

.ventilador {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  color: #5e5858;
}

.ventilador p {
  margin: 0;
}
