.root {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  top: 50%;
  left: 50%;
  translate: (50%, 50%);
}

.area {
}

 .activeselect {
  position: absolute;
  bottom: 1%;
  right: 40%;
}

.saveButton {
  position: absolute;
  bottom: 3%;
  right: 20%;
} 
