body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('Background.jpg') no-repeat center center fixed;
  background-size: cover;

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  max-width: 600px;
  margin: 10vh auto;
  padding: 20px;
  border-radius: 10px;

}

mat-card {
  background: rgb(101,253,45);
  background: linear-gradient(0deg, rgba(101,253,45,0.5074404761904762) 0%, rgba(34,193,195,0.4906337535014006) 59%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.datos {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  justify-self: center;
  margin: 20px;
}

.singin {
  width: max-content;
}

@media (max-width: 768px) {
  .container {
    width: 90vw;
    margin: 5vh auto;
  }

  .singin {
    width: 100%;
  }
}
