<div class="root">
  <div class="container">
    <mat-card>
      <div>
        <form class="datos" (submit)="signIn()">
          <div style="text-align: center;"><h3>Bienvenido A SGCV</h3></div>
          <div style="text-align: center;"><img src="assets/logoSGCV.png" alt="logo del proyecto" width="256px"></div>
          <mat-form-field>
            <mat-label>Usuario</mat-label>
            <input
              matInput
              type="text"
              id="usuario"
              name="usuario"
              [(ngModel)]="usuario"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input
              matInput
              type="password"
              id="password"
              name="password"
              [(ngModel)]="password"
            />
          </mat-form-field>
          <div class="text-end">
            <button
              pButton
              pRipple
              label="Entrar"
              class="p-button-success"
            ></button>
          </div>
        </form>
      </div>
    </mat-card>
  </div>
  
</div>