<div class="container">
  <div class="header">
    <div style="display: flex; gap: 10px;">
      <p-button 
        label="Usuarios" 
        icon="pi pi-users" 
        severity="help" 
        [raised]="true" 
        (onClick)="abrirFormulario()"
      ></p-button>
      <p-button 
        label="Salir" 
        icon="pi pi-power-off" 
        severity="danger" 
        [raised]="true" 
        (onClick)="salir()"
      ></p-button>
    </div>
  </div>
  

  <div class="cards-container">
    <div class="card" (click)="sensores()">
      <div class="card-icon">
        <img src="assets/sensoreshome.png" alt="Sensores icon" />
      </div>
      <div class="card-title">
        <span>Sensores</span>
      </div>
    </div>

    <div class="card" (click)="graficas()">
      <div class="card-icon">
        <img src="assets/graficashome.png" alt="Gráficas icon" />
      </div>
      <div class="card-title">
        <span>Gráficas</span>
      </div>
    </div>

    <div class="card" (click)="ventilacion()">
      <div class="card-icon">
        <img src="assets/ventilacionhome.png" alt="Ventilación icon" />
      </div>
      <div class="card-title">
        <span>Ventilación</span>
      </div>
    </div>
  </div>
</div>
