.container {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100vw;
  height: 100vh;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-image: url("../../../../../public/assets/Background.jpg");
}
.salir-container {
  text-align: end;
  margin: 3%;
}
.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons-container p-button {
  margin: 4%;
}

@media (max-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: 100%;
    width: 100vw;
    height: 100vh;
  }
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
    background-image: url("../../../../../public/assets/Background.jpg");
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
