<mat-card style="width: 100%; height: 180px" class="root">
  <div style="background-color: #333333; border-radius: 30px">
    <img
      [src]="selectedImage"
      alt="Imagen seleccionada"
      height="150px"
      width="96%"
      *ngIf="selectedImage"
    />
    @if (!selectedImage) {
    <div
      style="display: flex; justify-content: center; justify-self: center; margin-top: 30%;"
    >
      <img
        src="assets/inserteimagen.png"
        alt=""
        height="75px"
        (click)="triggerInput()"
      />
      <input
        #hiddenInput
        type="file"
        hidden
        (change)="handleFileInput($event)"
      />
    </div>
    }
  </div>
  <div style="background-color: #f0efef; border-radius: 30px">
    <div class="info-container">
      <p>25 °</p>
      <p>{{ nombre }}</p>
      <p>Area tomates</p>
      <div class="status">
        <div
          class="status-color"
          [ngStyle]="{ 'background-color': true ? '#70FF00' : null }"
        ></div>
        <p>{{ true ? "Activo" : "Inactivo" }}</p>
      </div>
    </div>
  </div>
</mat-card>

<!--  -->
