<mat-card style="width: 250px; height: 250px; padding-top: 5%;">
  <div style="background-color: black; height: 125px; border-radius: 20 20 20 20;">
   <div style="text-align: end;">
    <p style="color: white">Activo
        <i class="pi pi-circle-on" style="color: greenyellow;" ></i>
    </p>
   </div>
   <div style="margin-top: 20%;">
    <input type="file" hidden #subir>
    <img src="assets/inserte imagen.png" alt="inserte imagen" width="50px" class="w-full border-round" />
    
   </div>
  </div>
  <div style="text-align: center; margin-top: 5%;">
    <p>Sensor {{nombre}}</p>
    <p>Area tomates</p>
    <p>30 °C</p>
  </div>
</mat-card>
