<div class="overlay">
  <p-button
    class="close-button"
    label="X"
    severity="contrast"
    (click)="cerrarFormulario()"
  />
  <div class="user-form" style="width: 40vw">
    <h3>Usuarios</h3>

    <div>
      <label>Nombre del Usuario:</label>
      <input
        type="text"
        [(ngModel)]="usuario.nombre"
        required
      />
    </div>
    <div>
      <label>Contraseña:</label>
      <input
        type="password"
        [(ngModel)]="usuario.password"
        required
      />
    </div>
    <div>
      <label>Repetir contraseña:</label>
      <input
        type="password"
        [(ngModel)]="usuario.confirmPassword"
        name="confirmPassword"
        required
      />
    </div>
    <div>
      <mat-form-field>
        <mat-label>Selecciona Un Rol</mat-label>
        <mat-select [(ngModel)]="usuario.rol">
          @for (rol of roles; track $index) {
          <mat-option [value]="rol?.name">{{ rol?.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div style="margin-top: 10px">
      <p-button severity="primary" label="Registrar" (click)="registrar()" />
    </div>
  </div>

  <mat-card class="userCard">
    <h1>Usuarios activos</h1>
    @for (item of usuarios; track $index) {
    <div>
      <p>Usuario:{{ item.username }}</p>
      <span>Rol: {{ item.rol }}</span>
    </div>
    }
  </mat-card>
</div>
